#login{
    position: absolute;
    margin :auto;
    top: 35%;
    left:35%;
    transform: translate(-50px,-50px);
    width: 400px;
    height: 250px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.733);
    border-radius: 20px;
    border-color: turquoise;
    border: solid;
    box-shadow: white 2px 2px;
    
}
#btn{
    border: black;
    font-family: Courier;
    font-size: small;
    box-shadow: cornflowerblue 2px 2px;
    border-radius: 50px;
    
   
}
#nom{
    border: black;
     font-family: Courier;
    font-size: small;
    box-shadow: cornflowerblue 2px 2px;
    border-radius: 50px;
    padding-left: 10px;
    
    
  
}